@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100&display=swap');

/*
  Use these variables for colors in project
  --q-primary: #1976d2;
  --q-secondary: #26a69a;
  --q-accent: #9c27b0;
  --q-positive: #21ba45;
  --q-negative: #c10015;
  --q-info: #31ccec;
  --q-warning: #f2c037;
  --q-dark: #1d1d1d;
  --q-darkPage: #121212;
*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-weight: 600;
  font-family: Raleway, sans-serif;
}

a,
a:active,
a:visited {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

a:hover {
  opacity: 0.7;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
