@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100&display=swap');

/*
  Use these variables for colors in project
  --q-primary: #1976d2;
  --q-secondary: #26a69a;
  --q-accent: #9c27b0;
  --q-positive: #21ba45;
  --q-negative: #c10015;
  --q-info: #31ccec;
  --q-warning: #f2c037;
  --q-dark: #1d1d1d;
  --q-darkPage: #121212;
*/

:root {
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-weight: 600;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
  font-weight: 500;
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2rem;
}

a,
a:active,
a:visited {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

a:hover {
  opacity: 0.7;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
